{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {# show error messages #}
    {% for error in app.flashes('error') %}
        <p style="color: red;">{{ error }}</p>
    {% endfor %}

    {{ form_start(registration_form) }}
        {{ form_row(registration_form.username) }}
        {{ form_row(registration_form.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registration_form.confirmPassword, {
            label: 'Confirm Password'
        }) }}
        {{ form_row(registration_form.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registration_form) }}
{% endblock %}
