{% extends 'base.html.twig' %}

{% block title %}Thematics{% endblock %}

{% block body %}
    <h1 class="main-title">Thematics</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_thematic_new') }}" class="btn btn-primary block">Create new</a>
    {% endif %}

    {% if thematics is not empty %}
        <p>{{ thematics|length ~ ' thematic(s) found.' }}</p>
        <div class="card-container">
            {% for thematic in thematics %}
                <a href="{{ path('app_thematic_show', {'id': thematic.id}) }}" class="card">
                    <h5 class="card-title">{{ thematic.name }}</h5>
                    <p class="card-p">{{ thematic.recipes|length ~ ' recipe(s) in this thematic' }}</p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no thematics in the database yet.</p>
    {% endif %}
{% endblock %}
