{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1 class="main-title">Categories</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_category_new') }}" class="btn btn-primary">Create new</a>
    {% endif %}

    {% if categories is not empty %}
        <p class="mt-4">{{ categories|length ~ ' categories found.' }}</p>
        <div class="card-container">
            {% for category in categories %}
                <a href="{{ path('app_category_show', {'id': category.id}) }}" class="card">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <p class="card-p">{{ category.recipes|length ~ ' recipe(s) in this category' }}</p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no categories in the database yet.</p>
    {% endif %}
{% endblock %}
