{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <h1 class="main-title">My Profile</h1>

    <h2>Hi <strong>{{ user.username }}</strong>, happy to see you again.</h2>

    {% if user.imageName is not null %}
        <img class="profile-picture" src="{{ asset('uploads/images/profiles_pictures/' ~ recipe.imageName) }}" alt="User profile picture" />
    {% else %}
        <img class="profile-picture" src="{{ asset('uploads/images/profiles_pictures/default/default.jpg') }}" alt="User profile picture" />
    {% endif %}

    <div class="flex gap-3">
        {% if user.favorites is not empty %}
            <a class="btn btn-love" href="{{ path('app_user_profile_favorites', {'id': user.id}) }}">My Favorites Recipes</a>
        {% endif %}
        <a class="btn btn-primary" href="{{ path('app_user_profile_edit', {'id': user.id}) }}">Edit my profile</a>
    </div>

    {% if user.recipes is not empty %}
        <h2 class="sub-title">My Recipes</h2>
        <p>{{ 'You posted ' ~ user.recipes|length ~ ' recipe(s)' }}</p>
        <div class="card-container">
            {% for recipe in user.recipes %}
                <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}" class="card">
                    <h5 class="card-title">{{ recipe.name }}</h5>
                    <p class="card-p">Created at {{ recipe.createdAt|date('Y-m-d') }}</p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="mb-4">You have no recipes yet.</p>
        <a class="btn btn-primary" href="{{ path('app_recipe_new') }}">Create new recipe!</a>
    {% endif %}
{% endblock %}
