{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}
    <h1 class="main-title">Recipes</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_recipe_new') }}" class="btn btn-primary">Create new</a>
    {% endif %}

    {% if recipes is not empty %}
        <p class="mt-4">{{ recipes|length ~ ' recipe(s) found.' }}</p>
        <div class="card-container">
            {% for recipe in recipes %}
                <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}" class="card">
                    <h5 class="card-title">{{ recipe.name }}</h5>
                    <p class="card-p">Created by {{ recipe.cooker.username }} on {{ recipe.createdAt|date('Y-m-d') }}</p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no recipes in the database yet.</p>
    {% endif %}
{% endblock %}
