{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
    <h1>{{ recipe.name|upper }}</h1>
    <h4>{{ 'Create by: ' ~ recipe.cooker.username ~ ' on ' ~ recipe.createdAt|date('d/m/Y') }}</h4>

    {# show success messages #}
    {% for success in app.flashes('success') %}
        <p style="color: green;">{{ success }}</p>
    {% endfor %}

    {# show info messages #}
    {% for info in app.flashes('info') %}
        <p style="color: blue;">{{ info }}</p>
    {% endfor %}

    <div>
        {% if recipe.imageName is not null %}
            <img src="{{ asset('uploads/images/recipes/' ~ recipe.imageName) }}" alt="{{ recipe.name }}" />
        {% endif %}
        <p>{{ recipe.description }}</p>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient.name ~ ' ' ~ ingredient.quantity ~ ingredient.unit }}</li>
            {% endfor %}
        </ul>
        <p>{{ 'Difficulty: ' ~ recipe.difficulty ~ ' | Cost: ' ~ recipe.recipeCost ~ ' | Preparation time: ' ~ recipe.preparationTime ~ 'min' }}</p>
        <div>
            {% for tag in recipe.tags %}
                <span class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full">
                    {{ tag.name }}
                </span>
            {% endfor %}
        </div>
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(favorite_form) }}
            {{ form_row(favorite_form.submit) }}
        {{ form_end(favorite_form) }}
    {% endif %}

    <a href="{{ path('app_recipe_index') }}">back to list</a>

    {% if is_cooker %}
        <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">Edit my recipe</a>
        {{ include('recipe/_delete_form.html.twig') }}
    {% endif %}

    <h2>Comments</h2>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(comment_form) }}
            {{ form_row(comment_form.content) }}
            {{ form_row(comment_form.submit) }}
        {{ form_end(comment_form) }}
    {% endif %}

    {% if recipe.comments is not empty %}
        {% for comment in recipe.comments %}
            <div>
                <p>{{ comment.content }}</p>
                <p>By {{ comment.cooker.username }} on {{ comment.createdAt|date('d/m/Y') }}</p>
                {# if the user is logged in and is the author of the comment #}
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == comment.cooker.id %}
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Edit</a>
                    {{ include('comment/_delete_form.html.twig') }}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No comments yet.</p>
    {% endif %}
{% endblock %}
