<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# nav menu #}
        <nav class="nav-menu">
            <div class="nav-menu-container">
                <a href="{{ path('app_home') }}" class="flex items-center">
                    <img src="" class="mr-3 h-6 sm:h-9" alt="">
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Home Made Cook</span>
                </a>
                <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                    <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li>
                            <a href="{{ path('app_home') }}" class="nav-menu-item" aria-current="page">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_recipe_index') }}" class="nav-menu-item">
                                Recipes
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_category_index') }}" class="nav-menu-item">
                                Categories
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_thematic_index') }}" class="nav-menu-item">
                                Thematics
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_tag_index') }}" class="nav-menu-item">
                                Tags
                            </a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="{{ path('app_user_profile_index') }}" class="nav-menu-item">Your profile</a>
                            </li>
                            <li>
                                <a href="{{ path('app_logout') }}" class="nav-menu-item">Log out</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('app_login') }}" class="nav-menu-item">Log in</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
