{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <h1 class="main-title">Tags</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary block" href="{{ path('app_tag_new') }}">Create new</a>
    {% endif %}

    {% if tags is not empty %}
        <p>{{ tags|length ~ ' tag(s) found.' }}</p>
        <div class="card-container">
            {% for tag in tags %}
                <a href="{{ path('app_tag_show', {'id': tag.id}) }}" class="card">
                    <h5 class="card-title">{{ tag.name }}</h5>
                    <p class="card-p">{{ tag.recipes|length ~ ' recipe(s)' }}</p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no tags in the database yet.</p>
    {% endif %}
{% endblock %}
